<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iqiyi.dao.UserMapper">
   <insert id="saveUser" parameterType="User">
       insert into user(username, password)
       values (#{username},#{password})
       <selectKey resultType="Integer" order="AFTER" keyProperty="uid">
           SELECT LAST_INSERT_ID AS uid
       </selectKey>
   </insert>

    <select id="findUser" parameterType="User" resultType="User">
        select *from user
        where name=#{name} and passwor#{password}
    </select>
</mapper>